<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/-repstyle.css">
	<link rel="stylesheet" href="/styles/history.css">
	<link rel="stylesheet" href="/styles/safety-tips.css">
	<script src="/script.js" defer></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet"> 
	<title><%= title %></title>
</head>
<body>
	<section>
		<header>
			<nav>
				<div>
					<a href="/">CUL CRIME WATCH</a> 
				</div>
				<div>
					<a href="#" class="toggle-button">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</a>
				</div>
				<div>
					<ul class="navbar-links">
						<li><a href="/">Home</a></li>
						<li><a href="/history">History</a></li>
						<li><a href="/safety-tips">Safety Tips</a></li>
						<li><a href="/report">Report</a></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</div>					
			</nav>
		</header>
	</section>