<%- include("partials/header") %>
<div class="container">
    <h2>History</h2>
    <div class="h-table">
        <h4>Name Of Offender</h4>
        <h4>Type of crime</h4>
        <h4>Status</h4>
    </div>
    <% reports.forEach(report => { %>
        <div class="h-table">
            <p><%= report.mOffender %></p>
            <p><%= report.tCrime %></p>
            <p style="color: #c9a42d; font-weight: 500;">pending</p>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>