<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/signup.css">
	<!-- <script src="./script.js" defer></script> -->
	<script src="https://kit.fontawesome.com/6bdbba266b.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
	<title><%= title %></title>
</head>
<body>
	<section>
		<header>
			<nav>
				<div>
					<a href="/">CUL CRIME WATCH</a> 
				</div>
			</nav>
		</header>
	</section>
	<main>
		<div class="container">
			<form>
				<div>
					<div class="icon">
						<i class="fa-solid fa-user-tie"></i>
					</div>
					<p class="sign-in">Sign Up</p>
				</div>
				<input type="text" name="firstName" placeholder="First Name" required><br>
				<div class="firstname error"></div>
				<input type="text" name="lastName" placeholder="Last Name" required><br>
				<div class="lastname error"></div>
				<input type="text" name="userName" placeholder="Username" required><br>
				<div class="username error"></div>
				<input type="text" name="matricNo" placeholder="Matric No" required><br>
				<div class="matric error"></div>
				<input type="text" name="department" placeholder="Department" required><br>
				<div class="depart error"></div>
				<input type="text" name="email" placeholder="Email" required><br>
				<div class="email error"></div>
				<input type="password" name="password" placeholder="Password" required><br>
				<div class="password error"></div>
				<input type="password" name="confirm password" placeholder="Repeat password" required><br>
				<input type="submit" value="Sign Up">
				<p>Aleardy have an account? <a href="/login">Log In</a></p>
			</form>
		</div>
</main>
<script>
	const form = document.querySelector("form");
	const emailError = document.querySelector(".email")
	const passwordError = document.querySelector(".password")
	const firstNameError = document.querySelector(".firstname")
	const lastNameError = document.querySelector(".lastname")
	const userNameError = document.querySelector(".username")
	const matricError = document.querySelector(".matric")
	const departError = document.querySelector(".depart")

	form.addEventListener("submit", async (e) => {
		e.preventDefault();

		emailError.textContent = "";
		passwordError.textContent = "";

		const firstName = form.firstName.value;
		const lastName = form.lastName.value;
		const userName = form.userName.value;
		const matricNo = form.matricNo.value;
		const department = form.department.value;
		const email = form.email.value;
		const password = form.password.value;

		try {
			const res = await fetch("/signup", {
				method: 'POST',
				body: JSON.stringify({firstName, lastName, userName, matricNo, department, email, password}),
				headers: { 'Content-Type': 'application/json'}
			});

			const data = await res.json();
			if(data.errors) {
				emailError.textContent = data.errors.email
				passwordError.textContent = data.errors.password
				firstNameError.textContent = data.errors.firstName
				lastNameError.textContent = data.errors.lastName
				matricError.textContent = data.errors.matricNo
				departError.textContent = data.errors.department
				userNameError.textContent = data.errors.userName
			}
			if(data.user) {
				location.assign("/");
			}
		} catch (err) {
			console.log(err)
		}
	})
</script>
<footer> &copy; CUL Crime Watch 2022 </footer>
</body>
</html>