* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	background: rgb(247, 247, 247);

	height: 100%;
}
h3,
h5,
p {
	color: #56445d;
}
body {
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
	height: 300px;
}
nav {
	position: sticky;
	top: 0;
	background-color: #7da2a9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}
nav ul,
nav a {
	text-decoration: none;
	list-style-type: none;
}
nav > div > a {
	font-size: 1.1rem;
	font-weight: 500;
}
nav div ul {
	display: none;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
nav div ul li {
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 20px;
	margin-top: 10px;
}
.navbar-links.active {
	display: flex;
}
nav a {
	color: #f5f5f5;
}
nav a:hover {
	color: #56445d;
}
.toggle-button {
	position: absolute;
	top: 1.4rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	width: 30px;
	height: 21px;
}
.toggle-button .bar {
	height: 5px;
	width: 100%;
	background-color: #56445d;
	border-radius: 10px;
}
footer {
	font-size: 0.8rem;
	display: absolute;
	bottom: 0;
	text-align: center;
}
@media screen and (min-width: 762px) {
	nav {
		position: relative;
	}
	nav div ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.toggle-button {
		display: none;
	}
}
@media screen and (min-width: 1280px) {
	body {
		font-size: 20px;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	nav div ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
